/*BEGIN EliteSeries2Pad Xbox Controller Styling*/
.controller.custom {
    background: url(base_EliteSeries2Pad.svg);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.custom.disconnected {
    background: url(disconnected.svg);
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
}

.custom .trigger {
    width: 88px;
    height: 121px;
    background: url(trigger.svg);
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .bumper {
    width: 170px;
    height: 61px;
    background: url(bumper.svg);
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .quadrant {
    position: absolute;
    background: url(quadrant.svg);
    height: 45px;
    width: 45px;
    top: 246px;
    left: 353px;
    z-index: 0;
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.custom .back, .custom .start {
    background: url(start-select.svg);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed {
    opacity: 1;
}

.custom .back {
    position: absolute;
    top: -12px;
    left: -2px;
    float: left;
}

.custom .start {
    background-position: 33px 0px;
    position: absolute;
    top: -12px;
    left: 110px;
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 157px;
    height: 156px;
    top: 187px;
    left: 494px;
}

.custom .button {
    position: absolute;
    background: url(abxy.svg);
    width: 48px;
    height: 48px;
}

.custom .button.pressed {
    background-position-y: -49px;
    margin-top: 1px;
    opacity: 1;
}

.custom .a {
    background-position: 0 0;
    top: 110px;
    left: 56px;
}

.custom .b {
    background-position: -49px 0;
    top: 58px;
    right: 2px;
}

.custom .x {
    background-position: -98px 0;
    top: 58px;
    left: 2px;
}

.custom .y {
    background-position: 48px 0;
    left: 55px;
    top: 6px;
}

.custom .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 227px;
    left: 136px;
}

.custom .stick {
    position: absolute;
    background: url(stick_ES2.svg);
    background-position: -85px 0;
    height: 83px;
    width: 84px;
}

.custom .stick.pressed {
    background-position: 0 0;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: 112px;
    left: 298px;
}

.custom .dpad {
    position: absolute;
    width: 211px;
    height: 112px;
    top: 345px;
    left: 223px;
}

.custom .face {
    background: url(dpad_ES2.svg);
    position: absolute;
    opacity: 0;
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    background-position: 43px 0;
    left: 29px;
    top: -19px;
    width: 43px;
    height: 65px;
}

.custom .face.down {
    left: 30px;
    bottom: 1px;
    width: 43px;
    height: 65px;
}

.custom .face.left {
    background-position: 0 -108px;
    width: 65px;
    height: 43px;
    top: 23px;
    left: -14px;
}

.custom .face.right {
    background-position: 0 -65px;
    width: 65px;
    height: 43px;
    top: 23px;
    right: 94px;
}

.custom.half {
    margin-top: -315px;
}

.custom {
    background: no-repeat center;
}

/*END EliteSeries2Pad One Controller Styling*/
